<ion-view view-title="Iota Lab">
  <ion-content class="padding">
    <div class="fadeIn">
      <div class="card">
        <div class="item item-text-wrap">
          <div class="item item-divider">
            Add Devices
          </div>
          <ion-list>
          <ion-item ng-repeat="item in devices">
            <button ng-onclick="addDevice();">+</button> {{item}}
          </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="card">
          <div class="item item-divider">
            Arduino
          </div>
        <div class="item item-text-wrap">
          <ion-item ng-repeat="item in comps">
            <button ng-onclick="addDevice();">+</button> {{item}}
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
